.nav_button:hover {
    animation: 1.2s linear table-animation;
}

@keyframes table-animation {
    0% {
        width: 170px;
        padding: 105px 0px 0px 0px;
        
        background-image: url('../img/7.png');
    }
    33% {
        width: 170px;
        padding: 110px 0px 0px 0px;

        background-image: url('../img/7_2.png');
    }
    66% {
        width: 180px;
        padding: 90px 0px 0px 0px;

        background-image: url('../img/7_1.png');
    }
    100%{
        width: 170px;
        padding: 105px 0px 0px 0px;
        
        background-image: url('../img/7.png');
    }
}

.schedule_wrapper{
    position: fixed;
    z-index: 12;
    height: 100%;
    width: 100%;
}
.schedule_wrapper > img{
    position: fixed;
    bottom: 0%;
    height: 75%;
    z-index: 10;
    left: 25%;
    right: 25%;
}
.schedule_text{
    color: whitesmoke;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 38%;
    font-size: 150%;
}
.tb_table{
    border: none;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: auto;
    top: 38%;
    font-size: 150%;
    color:#ffffff;
    line-height:0px;
}
