.nav_button:hover {
    animation: 1.5s linear table-animation;
}

@keyframes table-animation {
    0% {
        width: 180px;
        padding: 105px 0px 0px 0px;
        
        background-image: url('../img/7.png');
    }
    33% {
        width: 175px;
        padding: 110px 0px 0px 0px;
        margin-right: 25px;

        background-image: url('../img/7_2.png');
    }
    66% {
        width: 195px;
        padding: 90px 0px 0px 0px;
        margin-right: 5px;

        background-image: url('../img/7_1.png');
    }
    100%{
        width: 180px;
        padding: 105px 0px 0px 0px;
        margin-right: 20px;
        
        background-image: url('../img/7.png');
    }
}

.schedule_wrapper{
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%
}
.schedule_wrapper > img{
    position: fixed;
    bottom: 0%;
    height: 75%;
    z-index: 10;
    left: 25%;
    right: 25%;
}
.schedule_text{
    color: whitesmoke;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 38%;
    font-size: 150%;
}
