body {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

/* flex */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* grid */

.grid {
    display: grid;
    gap: 10px;
}

.col-span-1-12 {
    grid-column-start: 1;
    grid-column-end: 13;
}

.col-span-1-4 {
    grid-column-start: 1;
    grid-column-end: 5;
}

.col-span-4-12 {
    grid-column-start: 5;
    grid-column-end: 13;
}

/* height/width */

.h-100vh {
    height: 100vh;
}

.h-100 {
    height: 100%;
}


.text-center {
    text-align: center;
}

/* padding/margin */

.mt-1 {
    margin-top: 1rem;
}

.ml-07 {
    margin-left: 0.7rem;
}

/* font */

.font-weight-bold {
    font-weight: bold;
}

.font-size-1rem {
    font-size: 1rem;
}

.font-size-15rem {
    font-size: 1.5rem;
}

.nav-button {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    border-left: 1px solid;
    border-bottom: 2px solid;
    border-right: 1px solid;
}

.nav-button:hover {
    background-color: lightgray;
}


.first-nav-button {
    border-left: 2px solid !important;
}

.last-nav-button {
    border-right: 2px solid !important;
}

.nav-button:hover {
    text-decoration: underline;
}

/* containers */

.container-lg {
    width: 100%;
    max-width: 1080px;
}

.container-sm {
    width: 100%;
    max-width: 520px;
}


/* tables */
table, th, td {
    font-size: 1.1rem;
    border: 1px solid;
}

th {
    background-color: #333;
    color: white;
    border-style: none;
}

td {
    padding: 8px;
}

th {
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #f0f0f0;
}

td:hover {
    background: lightblue;
}

table {
    width: 100%;
    border-collapse: collapse;
}

footer {
    background-color: #e3e3e3;
}
