<div>
    <form class="" id="addObjectForm">
        <input hidden name="object_type" value="{{ object_type }}">
        {% for inp in inputs %}
            <label for="{{ inp.name + "Field" }}">
                {{ inp.label }}
            </label>
            <input type="{{ inp.type }}" name="{{ inp.name }}" id="{{ inp.name + "Field" }}">
        {% endfor %}
        <input type="submit" id="objectCreateSubmitButton" value="Создать">
    </form>
    <p hidden id="objectCreatedSuccessParagraph" class="text-green">Объект создан!</p>
</div>
