{% extends 'base.html' %}

{% block main %}
<form style="color: white">
    <label>ID учителя <input type="number" id="teacher_id"></label><br>
    <label>Класс <input type="number" id="grade"></label><br>
    <label>Буква <input type="text" id="class_letter"></label><br>
    <label>Профиль <input type="text" id="profile_name"></label><br>

    <input type="submit" id="sendButton" value="Создать группу">
</form>
{% endblock %}

{% block script %}
<script type="module" src="static/js/add_group.js"></script>
{% endblock %}