{% extends 'base.html' %}

{% block main %}
<form style="color: white">
    <label>ФИО учителя <input type="text" id="fio"></label><br>
    <label>Био <input type="text" id="bio"></label><br>
    <label>Контакты <input type="text" id="contacts"></label><br>
    <label>Номер кабинета <input type="number" id="class_number"></label><br>
    <label>Id предмета <input type="number" id="subject"></label><br>
    <label>Список id групп <input type="text" id="groups"></label><br>

    <input type="submit" id="sendButton" value="Создать учителя">
</form>
{% endblock %}

{% block script %}
<script type="module" src="static/js/add_teacher.js"></script>
{% endblock %}