{% extends 'base.html' %}

{% block main %}

<form style="color: white; z-index: 6; position: fixed; left: 52%">

    <label>Номер класса <input type="number" id="num_of_class"></label><br>
    <label>Профиль класса <input type="text" id="profile"></label><br>
    <label>Оборудование в классе <input type="text" id="equipment"></label><br>
    <label>Ссылка для подключения к месту проведения урока <input type="text" id="link"></label><br>
    <label>Тип локации <input type="text" id="location_type"></label><br>
<!--    <input type="text" id="location_desc" placeholder="location_desc"  # я так и не поняла, что это и нужно ли нам это>-->

    <input type="submit" id="sendButton" value="Создать локацию (кабинет)">
</form>
<img src="static/img/book.png" style="height: 80%; left: 15%; top: 20%; margin: auto; z-index: 5; position: fixed">
{% endblock %}

{% block script %}
<script type="module" src="static/js/add_location.js"></script>
{% endblock %}