<!DOCTYPE html>
<head>
    <title>Schedule App</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body class="flex flex-col h-100vh">
<header>
    <nav class="flex flex-row items-center justify-center">
        <a class="nav-button first-nav-button" href="/students">Список учеников</a>
        <a class="nav-button" href="/groups">Список классов</a>
        <a class="nav-button" href="/lessons">Список уроков</a>
        <a class="nav-button" href="/teachers">Список учителей</a>
        <a class="nav-button last-nav-button" href="/subjects">Список предметов</a>
    </nav>
</header>


<div class="font-size-1rem text-center flex flex-row justify-center grow">
    <div class="container-lg">
        {% block main %}
        {% endblock %}
    </div>
</div>


<footer class="text-center">
    <div>
        <pre class="font-size-15rem">Школа 58, 11 Матинф класс</pre>
    </div>

</footer>

{% block script %}
{% endblock %}
</body>