<!DOCTYPE html>
<head>
    <title>Schedule App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body class="flex flex-col h-100vh">
<header>
    <nav class="grid items-center justify-center" style="height: min-content">
        <div>
            <a class="nav-button first-nav-button" href="/students">Список учеников</a>
            <a class="nav-button" href="/groups">Список классов</a>
            <a class="nav-button" href="/lessons">Список уроков</a>
            <a class="nav-button" href="/teachers">Список учителей</a>
{#            <a class="nav-button{% if not user.is_authorized %} last-nav-button{% endif %}" href="/subjects">Список предметов</a>#}
{#            {% if user.is_authorized %}#}
{#                <a class="nav-button last-nav-button" href="/my-schedule">Мое расписание</a>#}
{#            {% endif %}#}
        </div>
    </nav>
</header>


<div class="font-size-1rem text-center flex flex-row justify-center grow">
    <div class="container-lg">
        {% block main %}
        {% endblock %}
    </div>
</div>


<footer class="text-center mt-1">
    <div>
        <pre class="font-size-15rem">Школа 58, 11 Матинф класс</pre>
    </div>

</footer>

{% block script %}
{% endblock %}
</body>