{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="static/css/login_styles.css">
{% endblock %}

{% block main %}
    <div class="flex flex-col justify-center items-center">
        <div class="container-sm justify-center">
            <div class="grid">
                <h1 class="col-span-1-12">Авторизоваться</h1>
                <label class="col-span-1-4" for="loginField">Логин</label>
                <input class="col-span-4-12" type="text" placeholder="Логин" id="loginField">
                <br>
                <label class="col-span-1-4" for="passwordField">Пароль</label>
                <input class="col-span-4-12" type="password" placeholder="Пароль" id="passwordField">
                <br>
                <input class="col-span-1-12" type="submit" value="Войти" id="sendButton">
                <div class="col-span-1-12">
                    <a class="" href="/register">Зарегистрироваться</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="module" src="static/js/login.js"></script>
{% endblock %}