{% extends 'base.html' %}
{% block main %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<img src="static/img/kot.jpg">
<body>
    MEOW!!!

</body>
{% endblock %}

{% block meow %}
    <div>
        DO MEOW!!!
    </div>

    <div id="meow2">
        <font color="red" size="1">MORE MEOW!!!</font>
    </div>
    <div>
        <font color="red" size="2">MORE MEOW!!!</font>
    </div>
    <div>
        <font color="red" size="3">MORE MEOW!!!</font>
    </div>
    <div>
        <font color="red" size="4">MORE MEOW!!!</font>
    </div>
    <div>
        <font color="red" size="5">MORE MEOW!!!</font>
    </div>
    <div>
        <font color="red" size="6">MORE MEOW!!!</font>
    </div>
    <div>
        <font color="red" size="7">MORE MEOW!!!</font>
    </div>

    <div id="meow">
        MORE MEOW
    </div>
    <div>
        MORE MEOW
    </div>
    <div>
        MORE MEOW
    </div>

    <script type="module" src="static/js/meow.js"></script>

{% endblock %}