{% extends 'base.html' %}
{% block main %}
<h1>Все учителя:</h1>
<table id="teachersTable" border=1 frame=void>
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Био</th>
            <th>Контакты</th>
            <th>ID уроков</th>
            <th>ID предметов</th>
            <th>ID кабинета</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block footer %}
<nav>
    <a href="/students">Список учеников</a>
    <a href="/groups">Список классов</a>
    <a href="/lessons">Список уроков</a>
    <a href="/teachers">Список учителей</a>
    <a href="/subjects">Список предметов</a>
</nav>
{% endblock %}

{% block script %}
<script type="module" src="static/js/teachers.js"></script>
{% endblock %}