<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Фон</title>
   <style>
   body {
<!--    background: #c7b39b url(static/img/7.png);-->
<!--    background-image: url(static/img/123.jpg);-->
<!--    background-position: top;-->
<!--    background-repeat: repeat-x, repeat-y;-->
   }
   </style>
 </head>
 <body>
  <p>
      <font size="5" color="red" face="fantasy">{{student}}</font>
  </p>
 </body>
 <script type="module" src="static/js/students.js"></script>
<table id="studentsTable" border=1 frame=void>
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Контакты</th>
            <th>Био</th>
            <th>ID классов</th>
        </tr>
    </thead>
</table>

</html>

