<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Сайт твоей мечты</title>
            <style>
            body {
            <!--    background: #d9e2ff url(static/img/7.png);-->
            <!--    background-image: url(static/img/test_html_background.png);-->
            <!--    background-position: top;-->
            <!--    background-repeat: repeat-x, repeat-y;-->
            }
            </style>
    </head>
    <head>
        <p>
            <font size="5" color="red" face="comic sans ms">Первая</font>
            <font size="5" face="comic sans ms"> строка текста</font>
        </p>
    </head>
    <script type="module" src="static/js/groups.js"></script>
    <table id="groupsTable" border=1 frame=void>
        <thead>
            <tr>
                <th><font size="3" color="red" face="comic sans ms">ID</font></th>
                <th><font size="3" color="red" face="comic sans ms">GRADE</font></th>
                <th><font size="3" color="red" face="comic sans ms">БУКВА КЛАССА</font></th>
                <th><font size="3" color="red" face="comic sans ms">ПРОФИЛЬ</font></th>
                <th><font size="3" color="red" face="comic sans ms">УЧИТЕЛЬ</font></th>
                <th><font size="3" color="red" face="comic sans ms">ID УЧИТЕЛЯ</font></th>
            </tr>
        </thead>
    </table>
</html>