{% extends 'base.html' %}
{% block main %}
<h1>Расписание</h1>
<input type="text" placeholder="ФИО ученика" id="nameField">
<input type="submit" value="Получить расписание" id="submitButton"><br>

<div id="timetable">
<table id="timetablesTable" border=1 frame=void>
    <thead>
        <tr>
            <th>ID</th>
            <th>День недели</th>
            <th>ID классов</th>
            <th>ID предметов</th>
            <th>ID локации</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>ID года</th>
        </tr>
    </thead>
</table>

</div>
{% endblock %}

{% block footer %}
<nav>
    <a href="/students">Список учеников</a>
    <a href="/groups">Список классов</a>
    <a href="/lessons">Список уроков</a>
    <a href="/teachers">Список учителей</a>
    <a href="/subjects">Список предметов</a>
    <a href="/timetable">Расписание</a>
</nav>
{% endblock %}

{% block script %}
<script type="module" src="static/js/week_timetable.js"></script>
{% endblock %}