{% extends 'base.html' %}
{% block main %}
<head>
    <link rel="stylesheet" href="static/css/nadoo.css">
    <style>
        body{
            overflow: hidden;
            height: 100%;
        }
    </style>
</head>
<h1>Расписание</h1>
<!--<input type="text" placeholder="ФИО ученика" id="nameField">-->
<!--<input type="submit" value="Получить расписание" id="submitButton"><br>-->


<div class="schedule_wrapper" style="height: 5%;">
    <form method="post" id="weekday">
        <select name="weekday" id="selection" style="font-size: 20px">
            <option style="font-size: 20px">Понедельник</option>
            <option style="font-size: 20px">Вторник</option>
            <option style="font-size: 20px">Среда</option>
            <option style="font-size: 20px">Четверг</option>
            <option style="font-size: 20px">Пятница</option>

        </select>

        <input type="submit" id="getSchedule" value="Получить расписание на день" style="font-size: 20px; background-image: url('../img/fon.png')">
    </form>
</div>

<div style="text-align: center; align-items: center; ">
    <img src="static/img/boardwtab.png" style="width: 55%; height: 85%; top: 20%; margin: auto;">
    <table class="tb_table" style="width: 48%; height: 56%; top: 40%; left: 26%; align-items: center; margin: auto">
        
        {{ gay }}
           
        </table>
</div>
{% endblock %}

{% block footer %}
<!--<nav>-->
<!--    <a href="/students">Список учеников</a>-->
<!--    <a href="/groups">Список классов</a>-->
<!--    <a href="/lessons">Список уроков</a>-->
<!--    <a href="/teachers">Список учителей</a>-->
<!--    <a href="/subjects">Список предметов</a>-->
<!--    <a href="/timetable">Расписание</a>-->
<!--</nav>-->
{% endblock %}

{% block script %}
<script type="module" src="static/js/timetable.js"></script>
{% endblock %}